[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = ">=0.2.11"
langgraph = "*"
tavily-python = "*"
langgraph-checkpoint-sqlite = "*"
jupyterlab = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
